<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>Hello {{medical.doctor_id.fullname}}, you have a new patient assignment</p>
  <br />
  <table>
    <tr>
      <td>Created At</td>
      <td>:</td>
      <td>{{medical.created_at}}</td>
    </tr>
    <tr>
      <td>MR ID</td>
      <td>:</td>
      <td>{{medical.mr_id_patient}}</td>
    </tr>
    <tr>
      <td>Patient Name</td>
      <td>:</td>
      <td>{{medical.patient_id.fullname}}</td>
    </tr>
    <tr>
      <td>Patient Status </td>
      <td>:</td>
      <td>{{medical.patient_status}}</td>
    </tr>
    {% if medical.admission_date %}
    <tr>
      <td>Admission Date</td>
      <td>:</td>
      <td>{{medical.admission_date}}</td>
    </tr>
    {% endif %}
  </table>
</body>
</html>